# =======  INSTRUÇÕES PARA CONFIGURAR AS VARIAVEIS DE AMBIENTE 

# substitua os campos abaixo pelos seus dados reais e tbm renomeie esse arquivo para apenas .env para conseguir usar as variaveis

DATABASE_URL="postgresql://seu_usuario:sua_senha@db:5432/nome_do_banco?schema=public"
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_NAME=nome_do_banco
PGADMIN_EMAIL=seu_email_pgadmin
PGADMIN_PASS=sua_senha
JWT_SECRET="sua_chave_secreta"

# Configurações do nodemailer com o gmail, caso prefira outlook apenas altere o host com as informações abaixo

MAIL_HOST=smtp.gmail.com   #para outlook: smtp-mail.outlook.com 
MAIL_PORT=465 # para outlook: 587 Obs: emailService.js configurado para ajustar o SSL automaticamente com base na porta.
MAIL_USER=seu_email@gmail.com # outlook.com
MAIL_PASS=sua_senha_de_app

# dados do seed
SEED_USER_NAME=seu_nome_de_usuario
SEED_EMAIL=seu_email_de_usuario
SEED_PASSWORD=sua_senha_de_usuario